services:
  postgres:
    image: postgres:16-alpine
    container_name: planet_postgres
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  valkey:
    image: valkey/valkey:alpine3.23
    container_name: planet_valkey
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "valkey-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5
    restart: unless-stopped

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    container_name: planet_minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    volumes:
      - minio_data:/data
    restart: unless-stopped

  minio_probe:
    image: curlimages/curl:8.5.0
    container_name: planet_minio_probe
    depends_on:
      - minio
    command: [ "sh", "-c", "sleep infinity" ]
    healthcheck:
      test: [ "CMD-SHELL", "curl -fsS http://minio:9000/minio/health/live >/dev/null || exit 1" ]
      interval: 5s
      timeout: 3s
      retries: 30
      start_period: 10s
    restart: unless-stopped

  api:
    build:
      context: ./services/api
      target: dev
    container_name: planet_api
    environment:
      PORT: 8080

      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432

      VALKEY_ADDR: valkey:6379

      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      MINIO_BUCKET: ${MINIO_BUCKET}
    ports:
      - "8080:8080"
    volumes:
      - ./services/api:/app
    depends_on:
      postgres:
        condition: service_healthy
      valkey:
        condition: service_healthy
      minio_probe:
        condition: service_healthy
    restart: unless-stopped

  web:
    build:
      context: ./apps/web
      target: dev
    container_name: planet_web
    ports:
      - "5173:5173"
    volumes:
      - ./apps/web:/app
      - /app/node_modules
    environment:
      VITE_API_BASE: http://localhost:8080
    depends_on:
      - api
    restart: unless-stopped

  swagger-ui:
    image: swaggerapi/swagger-ui:latest
    container_name: planet_swagger
    environment:
      - SWAGGER_JSON=/openapi/openapi.yaml
    volumes:
      - ./services/api/openapi/openapi.yaml:/openapi/openapi.yaml:ro
    ports:
      - "8081:8080"

volumes:
  postgres_data:
  minio_data: